header {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #b9d7c6;
}
.title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title-text {
  display: inline;
  color: #598D66;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}
.header-tabs {
  display: flex;
  gap: 50px;
}
.header-btn {
  background: none;
  border: none;
  font-size: 24px;
}
.products {
  background-color: #E1EDE6;
}
.products-header {
  height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-tabs {
  display: flex;
  gap: 20px;
}
.products-btn {
  height: 25px;
  font-size: 14px;
  border-radius: 13px;
  background-color: #b4ddbe;
  border: none;
  transition: background-color .3s, color .3s;
}
.products-btn:focus {
  background-color: #376B44;
  color: white
}

.products-content {
  background: none;
  padding: 10px;
  display: flex;
  gap: 25px;
}
.products-item {
  width: 185px;
  height: 350px;
  background-color: #91be9c;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 15px;
}
.product-img {
  width: 170px;
  height: 200px;
}
.product-text {
  margin: 6px 0;
  font-size: 20px;
}
.product-btn {
  background: none;
  width: fit-content;
  font-size: 20px;
}

footer {
  padding-left: 50px;
  padding-right: 50px;
  height: 200px;
  background-color: #b9d7c6;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 50px 150px; 
  gap: 0px 0px; 
  grid-template-areas: 
      "title reproducts news about-us"
      "contacts reproducts-content news-content about-us-content"; 
}
.footer-title { grid-area: title; }
.reproducts { grid-area: reproducts; }
.news { grid-area: news; }
.about-us-content { grid-area: about-us-content; }
.about-us { grid-area: about-us; }
.news-content { grid-area: news-content; }
.reproducts-content { grid-area: reproducts-content; }
.contacts { grid-area: contacts; }

.footer-title-text {
  font-size: 24px;
}
.footer-text {
  font-size: 18px;
  font-weight: 100;
  color: #6a736e;
}